.error-title {
	font-size: 75px;
	color: #1371db;
	text-align: center;
	padding: 25px 0 0 0;
	line-height: inherit !important;
}

.error-subtitle {
	padding: 0;
	margin: 0 0 15px 0;
}

.error-logo-padding {
	padding-top: 25px;
}

.error-page-button {
	text-align: center;
  display: block;
  color: #fff;
  text-transform: uppercase;
  height: 50px;
  width: 25%;
  border-radius: 50px!important;
  background: -webkit-linear-gradient(#f1b54e,#cc791c)!important;
  border: 3px solid #f1b54e!important;
  font-weight: 700!important;
  margin: auto;
  font-size: 25px !important;
  padding-top: 5px;
}