#videos_page {
    display: flex;
    flex-wrap: wrap;
    a {
        flex: 0 0 calc(50% - 30px);
        width: calc(50% - 30px);
        margin: 15px;
        cursor: pointer;

        img {
            display: block;
            margin: 0;
            padding: 0;
            width: 100%;
        }

        @media all and (max-width: 509px) {
            width: calc(100% - 30px);
            flex: 0 0 calc(100% - 30px);
        }
    }
}

#video-page {
    .video-thumbnail {
        margin-bottom: 50px;
        iframe {
            display: block;
            width: 100%;
            margin: 0;
            padding: 0;
        }
    }
}
